# Ignore the Unity temporary and build folders
Library/
Temp/
Obj/
Build/
Builds/
Logs/
UserSettings/

# User-specific files
.user
.userprefs
.unityproj
.suo
.swp
.log

# Build artifacts / signing keys - do not version
*.apk
*.keystore

# Mac OS X system files
.DS_Store
